{% extends "master.html" %}

{% block body %}
<center>
  <h1>About Bloginator9000</h1>
</center>
<hr/>

<center>
  <p>Nam lobortis feugiat libero. Donec felis velit, sagittis vitae turpis tristique,
  maximus gravida mi. Duis faucibus arcu venenatis fringilla aliquet. 
  Etiam consectetur urna magna, sed vulputate mauris ultricies sed. 
  Aliquam eleifend sit amet lorem eget tempus. Quisque quis sem magna. 
  Integer lorem nunc, placerat quis cursus id, suscipit quis tellus. 
  Vestibulum ut mattis tellus, vitae faucibus purus.</p>
</center>
{% endblock %}
