{% extends "master.html" %}

{% block body %}

{% for blogitem in blogitems %}
  {% if (loop.index % 2) == 1 %}
    <div class="row blog-row">
  {% endif %}
    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 1</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">{{blogitem.username}}</a> on {{blogitem.date}}</h6>

      <div class="blog-picture">
        <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
      </div>

      <p class="blog-text">{{blogitem.blogtext}}</p>
      <div class ="see-more-contain">
        <form action="/post/{{blogitem.rowid}}">
          <button class="see-more">see more</button>
        </form>
      </div>
    </div>
  {% if (loop.index % 2) == 0 %}
    </div>
    <hr class="hrline">
  {% endif %}
{% endfor %}
<!--
  <div class="row blog-row">
    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 1</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

        <div class="blog-picture">
          <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
        </div>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><div class="see-more"><a href="/post">see more</a></div></div>
    </div>

    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 1</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

        <div class="blog-picture">
          <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
        </div>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><div class="see-more"><a href="/post">see more</a></div></div>
    </div>
  </div>

  <div class="row blog-row">
    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 1</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

        <div class="blog-picture">
          <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
        </div>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><div class="see-more"><a href="/post">see more</a></div></div>
    </div>

    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 1</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
    <div class ="see-more-contain"><div class="see-more"><a href="/post">see more</a></div></div>
    </div>
  </div>
  <div class="row blog-row">
    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 1</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

        <div class="blog-picture">
          <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
        </div>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><div class="see-more"><a href="/post">see more</a></div></div>
    </div>

    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 1</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

        <div class="blog-picture">
          <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
        </div>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><div class="see-more"><a href="/post">see more</a></div></div>
    </div>
  </div>

<!--
Blogpost loop
  {% for title in titles %}
  <article class="blog-post">
    <h3 class="blog-title text-center">{{title}}</h3>
    <h6 class="blog-writer text-center">Written by <a href="#">{{username}}</a> on {{dates[loop.index0]}}</h6>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><button class="see-more">see more</button></div>
    </div>
  </div>

  <div class="row blog-row">
    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 3</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><button class="see-more">see more</button></div>
    </div>
    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 2</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

        <div class="blog-picture">
          <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
        </div>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><button class="see-more">see more</button></div>
    </div>
  </div>

  <div class="row blog-row">
    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 1</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

        <div class="blog-picture">
          <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
        </div>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><button class="see-more">see more</button></div>
    </div>

    <div class="col-md-6 col-sm-12 blog-post">
      <h3 class="blog-title text-center">Blog Post 2</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">John Smith</a> on August 1, 2012.</h6>

        <div class="blog-picture">
          <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
        </div>

      <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu libero arcu. Aliquam sit amet facilisis felis. Nunc vel erat tempor orci sagittis tempor. Duis eget sapien eleifend, volutpat ligula posuere, porta libero. Nam vestibulum ultricies aliquam. Nunc feugiat purus quam. Pellentesque sapien est, semper quis condimentum sed, facilisis sit amet odio.</p>
      <div class ="see-more-contain"><button class="see-more">see more</button></div>
    </div>
  </div>

    <p class"blog-text">{{blogtext[loop.index0]}}</p>
    <p class="see-more"><a href="#">see more</a></p>
  </article>
  {% endfor %}
-->


{% endblock %}
