<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bloginator9000</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="contain">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index">Blogginator 9000</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">Bloginator 9000</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="link-border"><a class="navlink" href="/about">About</a></li>
              {% if current_user is not none %}
              <li class="link-border"><a class="navlink" href="/logout">Logout</a></li>
              {% else %}
              <li class="link-border"><a class="navlink" href="/login">Login</a></li>
              <li><a class="navlink" href="/register">Register</a></li>
              {% endif %}

            </ul>
          </div>
        </div>
      </nav>
      <hr>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
