{% extends "master.html" %}

{% block body %}

<div class="container-fluid">
  <!-- has variables for title, username, date, and blogtext -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="blog-title text-center">Blog Post 1</h3>
      <h6 class="blog-writer text-center">Written by <a href="#">{{blogitem.username}}</a> on {{blogitem.date}}</h6>

        <div class="blog-picture">
          <img class="center-block" src="http://placehold.it/400x240&text=[img]"/>
        </div>

      <p class="post-text">
         {{blogitem.blogtext}}
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="comment-block">
        <h3 class="comment-title text-center">Comments</h3>
	       <h4 class="error-message">{{error}}</h4>
         <form method="post">
          <textarea  id="comment" class="comment-text" name="comment_text"></textarea>
          <button class="comment-submit">Post</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row comment-section">
    <div class="col-md-8 col-md-offset-2">
      {% for comment in comments %}
        <div class='row comment-row'>
          <div class="col-md-3">
            <h6 class="comment-user"><a href="/user/{{comment.username}}">{{comment.username}}</a></h6>
            <h6>{{comment.date}}</h6>
          </div>
          <div class="col-md-9">
            <div class="comment">
              {{comment.commenttext}}
            </div>
          </div>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
  var observe;
  if (window.attachEvent) {
    observe = function (element, event, handler) {
        element.attachEvent('on'+event, handler);
    };
  }
  else {
    observe = function (element, event, handler) {
        element.addEventListener(event, handler, false);
    };
  }
  function init () {
    var text = document.getElementById('comment');
    function resize () {
      text.style.height = 'auto';
      text.style.height = text.scrollHeight+'px';
    }
    /* 0-timeout to get the already changed text */
    function delayedResize () {
      window.setTimeout(resize, 0);
    }
    observe(text, 'change',  resize);
    observe(text, 'cut',     delayedResize);
    observe(text, 'paste',   delayedResize);
    observe(text, 'drop',    delayedResize);
    observe(text, 'keydown', delayedResize);
    text.focus();
    text.select();
    resize();
  }
  init();
</script>

{% endblock %}
