{% extends "master.html" %}

{% block body %}

<div class="container-fluid">

  <!-- has variables for title, username, date, and blogtext -->
  <article>
    <h2><a href="#">{{blogitem.title}}</a></h2>
    <h6>Written by <a href="#">{{blogitem.username}}</a> on {{blogitem.date}}</h6>
    
      <div>
        <img src="http://placehold.it/400x240&text=[img]"/>
      </div>
      
    <p>{{blogitem.blogtext}}</p>
  </article>
  
  <hr/>
  <h3>Comments</h3>
  <form method="post">
    <textarea name="comment_text" cols="50" rows="10"></textarea>
    <p class="submit"><input type="submit" name="commit" value="Submit"></p>
  </form>
  <br><br>
  <!-- comment loop -->
  {% for comment in comments %}
  <div class="comment">
    {{comment.commenttext}}
    <h6>by <a href="#">{{comment.username}}</a> on {{comment.date}}</h6>
    <!--<h6>by <a href="#">{usernames[loop.index0]}</a> on {dates[loop.index0]}</h6>-->
  </div>
  {% endfor %}

</div>

{% endblock %}
