{% extends "master.html" %}

{% block body %}
<div class="container-fluid">
  <div class="login">
    <h1 class="login-title">Register</h1>
    <h3 class="login-msg">Already have an account? <a href="/register">Login</a> here.</h3>
    <h3 class="error-message">{{error}}</h3>
    <form class="login-form" method="post">
      <p>Username:</p>
      <input type="text" name="login">
      <p>Password:</p>
      <input type="password" name="password">
      <p>Confirm Password:</p>
      <input type="password" name="password2">
      <button type="submit">Register</button>
    </form>
  </div>
</div>

{% endblock %}
